* {
	margin: 0px;
	padding: 0px;
}

.clear {
	clear: both;
}

body, input, textarea, select {
	font-family: 'Times New Roman', arial;
	font-size: 16px;
}

input[type="submit"] {
	cursor: pointer;
}

#wrapper-login {
	width: 330px;
	height: 140px;
	margin: 100px auto 0px auto;
	background-color: #d9dbd8;
	padding: 10px;
}

#wrapper-login h1 {
	font-size: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

#wrapper-login table tr td {
	padding: 2px 10px;
}

#wrapper-login table tr td input[type="text"],
#wrapper-login table tr td input[type="password"] {
	width: 200px;
	height: 23px;
	line-height: 23px;
}

#wrapper-login table tr td input[type="submit"] {
	background-color: #3d9ccd;
	color: #fff;
	border: none;
	padding: 3px 10px;
	margin-top: 5px;
	float: right;
}

/*admin panel dashboard*/

#wrapper {
	width: 900px;
	height: auto;
	margin: 0 auto;
}

#header {
	width: 960px;
	height: 120px;
}

#container {
	width: 960px;
	height: auto;
}